.wrapper {
  max-width: 1366px;
  @media (max-width: 768px) {
    display: unset;
    width: 100%;
    max-width: 100%;
  }
}

.content {
  display: flex;
  justify-content: center;
  // gap: 2rem;

  // @media (max-width: 1300px) {
  //   width: 70%;
  // }

  // @media (max-width: 928px) {
  //   width: 80%;
  // }

  // @media (max-width: 768px) {
  //   width: 100%;
  // }
}

.desktop-middle {
  @media (max-width: 600px) {
    visibility: hidden;
  }
}

.mobile-middle {
  visibility: hidden;
  width: 100%;
  display: grid;
  @media (max-width: 600px) {
    visibility: visible;
    & > p {
      width: 100%;
    }
  }
}
.middle {
  display: grid;
  // grid-area: middle;
  flex-basis: 30%;
}

.margin {
  margin: auto;
  text-align: center;

  @media (max-width: 600px) {
    margin: unset;
    max-width: 60%;
    margin-top: 30px;
  }

  & > p {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0.625rem;
  }
}

.replay {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;

  & > p {
    color: hsl(229, 25%, 31%);
  }
}

.text {
  margin-bottom: 40px;
  color: white;
  font-size: 30px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1.125rem;
  }
}

.empty {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: hsl(229, 25%, 31%);
  display: grid;

  @media (max-width: 768px) {
    width: 100px;
    height: 100px;
  }
}

.countdown {
  margin: auto;
  font-size: 2.5rem;
  color: white;
}

.option {
  margin-inline: auto;
}

.right,
.left {
  flex-basis: 30%;
  display: grid;
}

.empty {
  margin-inline: auto;
}
