.wrapper {
  width: 50%;
  margin: auto;
  border: 5px solid hsl(217, 16%, 45%);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    width: 100%;
    padding-inline: 10px;
  }
}

.active-board {
  @media (max-width: 1300px) {
    width: 70%;
  }

  @media (max-width: 928px) {
    width: 80%;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding-inline: 10px;
  }
}

.options-content {
  flex-basis: 80%;
  p {
    color: white;
    font-size: 1.125rem;
  }

  @media (max-width: 768px) {
    flex-basis: 60%;
  }
}

.score {
  background-color: white;
  flex-basis: 20%;
  border-radius: 10px;
  display: grid;

  @media (max-width: 768px) {
    flex-basis: 40%;
  }
}

.flexed {
  margin-inline: auto;
  padding-block: 15px;
}

.score {
  color: hsl(229, 64%, 46%);
}

.value {
  color: hsl(229, 25%, 31%);
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}
